Expenses.xcworkspace/xcuserdata/borja.xcuserdatad/WorkspaceSettings.xcsettings
Expenses.xcworkspace/xcuserdata/borja.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ExpensesAppWorkspace.xcworkspace/xcuserdata/borja.xcuserdatad/WorkspaceSettings.xcsettings
ExpensesAppWorkspace.xcworkspace/xcuserdata/borja.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
